@import "@/utils/styles.scss";

.tag_badge {
    padding: 5px 15px;
    margin: 2px 4px 2px 0;
    background-color: $ds-orange;
    border-radius: 10px;
    width: fit-content;
    font-weight: 700;
}