@import "/utils/styles.scss";

.payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $ds-main-dark;
    height: 70vh;
}

.title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.payment_methods {
    width: 650px;
    padding: 40px;
}