@import "/utils/styles.scss";

.personal_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $ds-main-dark;
    height: 70vh;
}

.title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.personal_info_form {
    width: 650px;
    padding: 40px;
}

.error {
    color: red
}

.form_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .label {
        font-size: 20px;
        margin-bottom: 8px;
    }
}

.required {
    color: $ds-orange
}

.input_frame {
    position: relative;

    .icon {
        width: 18px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 10px;
    }
}

.input_text {
    height: 50px;
    padding: 10px 10px;
    border: 3px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    background-color: $ds-yellow-opacity;
    width: 100%;
    min-width: 250px;
    color: rgba(0, 0, 0, 0.88);
    outline: none;
    transition: border-color 300ms;

    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
        border: 3px solid transparent;
        -webkit-box-shadow: 0 0 0px 1000px $ds-yellow-opacity inset;
    }   

    &::placeholder {
        color: $form-border-color;
    }

    &:hover, &:focus {
        border-color: $form-outline-color;
        transition: border-color 300ms;
    }
}

.form_row {
    @include flexCenteredSpaceBtwn
}

.btns {
    @include flexCenteredSpaceBtwn;
}

.btn {
    @include resetBtn;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    width: 130px;
}

.btn_back {
    @include resetBtn;
    border: 1px solid $ds-main-dark;
    color: $ds-main-dark
}

.btn_next {
    color: $ds-light;
    background-color: $ds-main-dark
}

.loading {
    background-color: $ds-alt-dark
}

.signal {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
}