// global variables

$primary-yellow: hsl(45°, 94%, 52%); // #f8be12
$primary-color-filter: invert(74%) sepia(76%) saturate(892%) hue-rotate(350deg) brightness(100%) contrast(95%);
$secondary-color: hsla(9°, 80%, 68%, 1); // #ef806c
$terciary-color: hsla(9°, 79%, 57%, 1); // #e8543a

// form utils

$form-bg-color: rgba(255,255,255, 0.7);
$form-border-color: #d9d9d9;
$form-outline-color: hsl(9°, 80%, 68%, 0.5);